:root {
  /* Gray */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  /* Zinc */
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  /* Amber */
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-300: #fcd34d;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-amber-700: #b45309;
  --color-amber-800: #92400e;
  --color-amber-900: #78350f;
  /* Blue */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  /* Other Variables */
  --header-min-height: 9.2rem;
  --icon-height: 1.8rem;
  --icon-width: 2.4rem;
  --box-shadow: 0 1rem 2.4rem -1rem rgba(0, 0, 0, 0.2);
  --section-padding-y: 6.4rem 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

svg {
  pointer-events: none;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-zinc-700);
  box-sizing: border-box;
}

.container {
  max-width: 130rem;
  margin-inline: auto;
}
@media (max-width: 83.375em) {
  .container {
    max-width: 110rem;
  }
}
@media (max-width: 71.875em) {
  .container {
    max-width: 95rem;
  }
}
@media (max-width: 61.875em) {
  .container {
    max-width: 80rem;
  }
}
@media (max-width: 53.125em) {
  .container {
    max-width: 80vw;
  }
}
@media (max-width: 35.9375em) {
  .container {
    max-width: 90vw;
  }
}

.bg-dark-100 {
  background-color: var(--color-zinc-100);
}

.section-header-props, .categories__header, .featured-products__header, .contact__header, .services__header, .brands__header {
  max-width: 66rem;
  margin-inline: auto;
  text-align: center;
}

.section-heading, .categories__header-title, .featured-products__header-title, .contact__header-title, .services__header-title, .brands__header-title {
  font-size: 4.8rem;
  font-weight: 200;
  margin-bottom: 0.6rem;
}

.section-details, .categories__header-description, .featured-products__header-description, .contact__header-description, .services__header-description, .brands__header-description {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
}

.breaker, .footer-link__breaker {
  background-color: var(--color-zinc-500);
  margin: 1.6rem 0;
}

.d-none {
  display: none;
}

.mb-5 {
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}

.header {
  min-height: var(--header-min-height);
  box-shadow: var(--box-shadow);
  padding: 2.4rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 6.7rem;
  width: auto;
}

.top-nav {
  flex: 1;
}
.top-nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.top-nav__item, .top-nav__link {
  display: inline-block;
}
.top-nav__link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 1.2rem 2.4rem;
  color: var(--color-zinc-700);
}
.top-nav__link:hover {
  color: var(--color-amber-600);
}

.header-actions {
  display: flex;
  gap: 2rem;
}

.search,
.cart,
.user {
  color: var(--color-zinc-800);
}
.search__icon,
.cart__icon,
.user__icon {
  width: var(--icon-width);
  height: var(--icon-height);
}
.search__icon:hover,
.cart__icon:hover,
.user__icon:hover {
  color: var(--color-amber-600);
}

.desktop-header {
  display: flex;
}
@media (max-width: 53.125em) {
  .desktop-header {
    display: none;
  }
}

.tablet-header {
  display: none;
}
.tablet-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tablet-header__top button {
  background-color: transparent;
  border: none;
}
.tablet-header__top button img {
  width: 3rem;
}
@media (max-width: 53.125em) {
  .tablet-header {
    display: flex;
    flex-direction: column;
  }
}

.tablet-nav__list {
  list-style: none;
}
.tablet-nav__link {
  display: block;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  text-decoration: none;
  color: var(--color-zinc-700);
}
.tablet-nav__link:hover {
  color: var(--color-amber-600);
  background-color: var(--color-zinc-200);
}

.footer {
  background-color: var(--color-zinc-800);
  padding: 4.6rem 0;
}

.footer-links-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer-links {
  list-style: none;
  flex: 1;
}

.footer-link__header, .footer-link__item, .footer-link__link {
  color: var(--color-gray-200);
  white-space: nowrap;
}
.footer-link__header:not(:last-child), .footer-link__item:not(:last-child), .footer-link__link:not(:last-child) {
  margin-bottom: 1.6rem;
}
.footer-link__header {
  font-size: 3rem;
  font-weight: 300;
}
.footer-link__header--primary {
  font-weight: 500;
  color: var(--color-amber-600);
}
.footer-link__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-link__icon {
  height: var(--icon-height);
  width: var(--icon-width);
}
.footer-link__link {
  text-decoration: none;
}
.footer-link__link:hover {
  color: var(--color-amber-600);
}

.get-in-touch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.social-links-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.social-link__item {
  display: inline-block;
}
.social-link__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  border: 1px solid var(--color-zinc-300);
  transition: background-color 0.3s, border 0.3s;
}
.social-link__link:hover {
  background-color: var(--color-amber-800);
  border-color: var(--color-amber-800);
}
.social-link__icon {
  color: var(--color-zinc-300);
  width: 3.1rem;
  height: 2.1rem;
  transition: color 0.3s;
}
.newsletter-form {
  position: relative;
  width: min(100%, 40rem);
  border-radius: 0.4rem;
  overflow: hidden;
}
.newsletter-form__input {
  width: 100%;
  padding: 1rem 12rem 1rem 1rem;
}
.newsletter-form__btn-submit {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0.8rem 1.6rem;
  border: none;
  background-color: var(--color-amber-600);
  color: var(--color-gray-200);
}

.hero {
  padding: 4.8rem 0;
  background-color: var(--color-amber-600);
}
.hero__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 4.8rem 0;
}
@media (max-width: 53.125em) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__text-box {
  color: #fff;
}
.hero__heading {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}
.hero__details {
  font-size: 1.8rem;
  font-weight: 300;
}
.hero__img {
  display: inline-block;
  width: 30%;
}
@media (max-width: 53.125em) {
  .hero__img {
    width: 100%;
  }
}

.services {
  padding: var(--section-padding-y);
}
.services__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  margin-top: 6rem;
}
.services__list-item {
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0 2rem -0.5rem rgba(0, 0, 0, 0.2);
  padding: 4rem 0;
  text-align: center;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services__list-item__img {
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-size: cover;
  width: var(--size);
  height: var(--size);
  margin-top: var(--margin);
}
.services__list-item__img--truck {
  --size: 10rem;
  --margin: 0;
  -webkit-mask-image: url(/public/svg/truck.svg);
}
.services__list-item__img--exchange {
  --size: 7rem;
  --margin: 2rem;
  -webkit-mask-image: url(/public/svg/exchange.svg);
}
.services__list-item__img--percent {
  --size: 6rem;
  --margin: 2rem;
  -webkit-mask-image: url(/public/svg/percent.svg);
}
.services__list-item__img--user {
  --size: 6rem;
  --margin: 2rem;
  -webkit-mask-image: url(/public/svg/user.svg);
}
.services__list-item p {
  margin-top: auto;
  font-size: 2rem;
  font-weight: 600;
}
.services__list-item:hover {
  background-color: var(--color-amber-500);
  color: #fff;
}

.brands {
  padding: var(--section-padding-y);
  background-color: var(--color-gray-200);
}
.carousel-custom__row {
  margin-inline: auto;
  display: flex;
}
.carousel-custom__controls {
  align-self: center;
}

.contact {
  padding: var(--section-padding-y);
}
.map {
  width: 100%;
  height: 300px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.form-input {
  margin-bottom: 1.6rem;
  flex: 1;
}
.form-input__label {
  margin-bottom: 0.6rem;
  color: var(--color-zinc-600);
}
.form-input__input, .form-input__textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-zinc-300);
}

.form-button {
  padding: 1.2rem 1.6rem;
  border-radius: 0.4rem;
  background-color: var(--color-amber-500);
  border: 1px solid var(--color-amber-500);
  font-size: 1.6rem;
  color: #fff;
  display: block;
  margin-left: auto;
}
.form-button:hover {
  box-shadow: 0 0 2rem -0.5rem var(--color-amber-600);
}

.slide-img {
  max-height: 60.55rem;
  margin-left: auto;
  display: block;
}

.categories {
  padding: var(--section-padding-y);
}
.categories__list {
  list-style: none;
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-column-gap: 5vw;
}
@media (max-width: 53.125em) {
  .categories__list {
    grid-template-columns: 50vw;
    justify-content: center;
    grid-row-gap: 2rem;
  }
}
.categories__list-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 4.8rem;
}
.categories__list-item img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-zinc-300);
  transition: scale 0.3s;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.categories__list-item img:hover {
  scale: 1.1;
}
.categories__list-item h5 {
  font-size: 2rem;
  color: var(--color-zinc-800);
}
.categories__list-item a:link,
.categories__list-item a:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  background-color: var(--color-zinc-600);
  color: #fff;
  border-radius: 0.4rem;
  transition: background-color 0.2s, scale 0.3s;
}
.categories__list-item a:link:hover,
.categories__list-item a:visited:hover {
  scale: 1.2;
  background-color: var(--color-amber-600);
}

.featured-products {
  padding: var(--section-padding-y);
}
.featured-products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-column-gap: 5vw;
}
@media (max-width: 53.125em) {
  .featured-products__list {
    grid-template-columns: 50vw;
    justify-content: center;
    grid-row-gap: 2rem;
  }
}

.featured-product {
  width: min(100%, 41.4rem);
  display: inline-block;
  background-color: #fff;
  border: 1px solid var(--color-zinc-300);
  border-radius: 0.8rem;
  overflow: hidden;
}
.featured-product__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.featured-product__body {
  padding: 1.6rem;
  padding: 1.6rem;
}
.featured-product__rating-and-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-product__rating {
  display: flex;
}
.featured-product__rating-icon {
  width: var(--icon-width);
  height: var(--icon-height);
  color: var(--color-zinc-300);
}
.featured-product__rating-icon--filled {
  color: var(--color-amber-300);
}
.featured-product__price {
  margin-bottom: 0;
}
.featured-product__name {
  font-size: 3rem;
  font-weight: 300;
}
.featured-product__details {
  font-size: 1.8rem;
  font-weight: 300;
}
.featured-product__review-count {
  color: var(--color-zinc-400);
}

.single-product-section {
  background-color: var(--color-zinc-100);
}

.single-product-container {
  padding: 4.8rem 0;
  display: flex;
  gap: 3rem;
}
@media (max-width: 61.875em) {
  .single-product-container {
    flex-direction: column;
  }
}

.product-img-container {
  width: 100%;
  min-width: 30vw;
}
.product-img-container__main-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  margin-bottom: 2rem;
}
.product-img-container__carousel {
  display: flex;
}
.product-img-container__carousel-btn {
  align-self: center;
  margin-inline: auto;
}

.product-details-container {
  background-color: #fff;
  padding: 2rem;
}
.product-details__header {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
}
.product-details__price {
  font-size: 2.2rem;
  padding: 0.8rem 0;
}
.product-details__rating {
  display: flex;
  gap: 1.4rem;
  margin-bottom: 1.6rem;
}
.product-details__rating-icons {
  display: flex;
  align-items: center;
}
.product-details__rating-icon {
  width: var(--icon-width);
  height: var(--icon-height);
  color: var(--color-zinc-300);
}
.product-details__rating-icon--filled {
  color: var(--color-amber-300);
}
.product-details__attribute {
  font-weight: bold;
  margin: 2rem 0;
}
.product-details__attribute-value {
  font-weight: 300;
  color: var(--color-zinc-400);
}
.product-details__specification-list {
  padding-left: 2rem;
}
.product-details__variants {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.product-details__variants-size__box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.product-details__variants-size__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.product-details__variants-size__list-item {
  display: inline-block;
  position: relative;
}
.product-details__variants-size__list-item label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.6rem;
  aspect-ratio: 1/1;
  background-color: var(--color-zinc-100);
  border-radius: 0.4rem;
  font-weight: bold;
  color: var(--color-zinc-500);
  cursor: pointer;
}
.product-details__variants-size__list-item input {
  position: absolute;
  left: -999rem;
  opacity: 0;
}
.product-details__variants-size__list-item input:checked ~ label {
  background-color: green;
  color: #fff;
}
.product-details__quantity-text {
  color: #fff;
  background-color: var(--color-zinc-600);
  padding: 0.8rem;
}
.product-details__quantity-btn {
  width: 4.6rem;
  aspect-ratio: 1/1;
  border: none;
  background-color: green;
  color: #fff;
  font-size: 2.6rem;
  border-radius: 0.4rem;
}
.product-details__actions {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.product-details__actions-btn {
  flex: 1;
  padding: 1.2rem;
  color: #fff;
  border-radius: 0.4rem;
  border: none;
  background-color: green;
}

.related-products-container {
  padding: 4.8rem 0;
}
.related-products-container__heading {
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.slick-slide {
  margin: 0 1rem;
  border: 1px solid var(--color-zinc-200);
  box-shadow: 0 0 0 0 !important;
}

.card-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

.products-section {
  padding: 4.8rem 0;
  display: flex;
  gap: 4rem;
}
@media (max-width: 53.125em) {
  .products-section {
    flex-direction: column;
  }
}

.categories-container {
  flex: 0 1 20%;
}
.categories-container__header {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3.2rem;
}

.categories-list:not(:last-of-type) {
  margin-bottom: 2rem;
}
.categories-list__header {
  font-size: 2.2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.categories-list__header-icon {
  background-color: #000;
  width: 2rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  rotate: -90deg;
}
.categories-list__header-icon svg {
  width: 1.2rem;
  aspect-ratio: 1/1;
  color: #fff;
}
.categories-list__menu {
  list-style: none;
}
.categories-list__item a {
  text-decoration: none;
  color: var(--color-zinc-600);
}
.categories-list__item a:hover {
  color: var(--color-zinc-800);
}

.products-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.products-container__heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3.2rem;
}

.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.product {
  --card-radius: 0.4rem;
  width: 100%;
  box-shadow: 0 0 2rem -0.5rem rgba(0, 0, 0, 0.2);
  border-radius: var(--card-radius);
  overflow: hidden;
  position: relative;
}
.product__img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
@media (max-width: 53.125em) {
  .product__img {
    object-position: top;
  }
}
.product__details {
  padding: 1.6rem;
  list-style: none;
}
.product__rating {
  margin-top: 0.6rem;
  text-align: center;
}
.product__rating-icon {
  width: var(--icon-width);
  height: var(--icon-height);
  color: var(--color-zinc-300);
}
.product__rating-icon--filled {
  color: var(--color-amber-300);
}
.product__price {
  text-align: center;
}
.product__add-to-cart {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: var(--card-radius);
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1rem;
  opacity: 0;
  transition: opacity 0.5s;
}
.product__add-to-cart__btn {
  background-color: var(--color-amber-500);
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
}
.product__add-to-cart__btn:hover {
  background-color: var(--color-amber-600);
}
.product__add-to-cart__btn-icon {
  width: var(--icon-width);
  height: var(--icon-height);
  color: #fff;
}
.product:hover .product__add-to-cart {
  opacity: 1;
}

.pagination {
  list-style: none;
  display: flex;
  box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-top: 2rem;
}
.pagination__item:not(:last-of-type) {
  border-right: 1px solid var(--color-zinc-300);
}
.pagination__item-link {
  display: inline-block;
  padding: 1.6rem 2rem;
  text-decoration: none;
  color: var(--color-zinc-800);
}
.pagination__item-link:hover, .pagination__item-link--active {
  background-color: var(--color-amber-600);
  color: #fff;
}

/* Abstract */
/* Base */
/* Layout */
/* Pages */

/*# sourceMappingURL=main.css.map */
