@use "../abstract/mixins" as *;

.container {
  max-width: 130rem;
  margin-inline: auto;

  @include screen(desktop-xl) {
    max-width: 110rem;
  }

  @include screen(desktop-lg) {
    max-width: 95rem;
  }

  @include screen(desktop) {
    max-width: 80rem;
  }

  @include screen(tablet) {
    max-width: 80vw;
  }

  @include screen(mobile) {
    max-width: 90vw;
  }
}

.bg-dark-100 {
  background-color: var(--color-zinc-100);
}

.section-header-props {
  max-width: 66rem;
  margin-inline: auto;
  text-align: center;
}

.section-heading {
  font-size: 4.8rem;
  font-weight: 200;
  margin-bottom: 0.6rem;
}

.section-details {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
}

.breaker {
  background-color: var(--color-zinc-500);
  margin: 1.6rem 0;
}

.d-none {
  display: none;
}

.mb-5 {
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}
