@use "../abstract/mixins" as *;
@use "../base/utilities" as *;

.slide-img {
  max-height: 60.55rem;
  margin-left: auto;
  display: block;
}

.categories {
  padding: var(--section-padding-y);

  &__header {
    @extend .section-header-props;
    &-title {
      @extend .section-heading;
    }
    &-description {
      @extend .section-details;
    }
  }

  &__list {
    list-style: none;
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-column-gap: 5vw;

    @include screen(tablet) {
      grid-template-columns: 50vw;
      justify-content: center;
      grid-row-gap: 2rem;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4.8rem;

    img {
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid var(--color-zinc-300);
      transition: scale 0.3s;
      aspect-ratio: 1/1;
      object-fit: cover;

      &:hover {
        scale: 1.1;
      }
    }
    h5 {
      font-size: 2rem;
      color: var(--color-zinc-800);
    }
    a:link,
    a:visited {
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.8rem 1.6rem;
      background-color: var(--color-zinc-600);
      color: #fff;
      border-radius: 0.4rem;
      transition: background-color 0.2s, scale 0.3s;

      &:hover {
        scale: 1.2;
        background-color: var(--color-amber-600);
      }
    }
  }
}

.featured-products {
  padding: var(--section-padding-y);

  &__header {
    @extend .section-header-props;
    &-title {
      @extend .section-heading;
    }
    &-description {
      @extend .section-details;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-column-gap: 5vw;

    @include screen(tablet) {
      grid-template-columns: 50vw;
      justify-content: center;
      grid-row-gap: 2rem;
    }
    // display: flex;
    // justify-content: space-around;
    // flex-wrap: wrap;
    // gap: 1.6rem;
  }
}

.featured-product {
  width: min(100%, 41.4rem);
  display: inline-block;
  background-color: #fff;
  border: 1px solid var(--color-zinc-300);
  border-radius: 0.8rem;
  overflow: hidden;

  &__img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  &__body {
    padding: 1.6rem;
    padding: 1.6rem;
  }
  &__rating-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__rating {
    display: flex;
    &-icon {
      width: var(--icon-width);
      height: var(--icon-height);
      color: var(--color-zinc-300);
    }
    &-icon--filled {
      color: var(--color-amber-300);
    }
  }
  &__price {
    margin-bottom: 0;
  }
  &__name {
    font-size: 3rem;
    font-weight: 300;
  }
  &__details {
    font-size: 1.8rem;
    font-weight: 300;
  }
  &__review-count {
    color: var(--color-zinc-400);
  }
}
